/*
SELF
*/

/* self-start */

.start {
  justify-self: start;
  align-self: flex-start;
}

.j-start {
  justify-self: start;
}

.a-start {
  align-self: flex-start;
}

/* self-center */

.center {
  justify-self: safe center;
  align-self: safe center;
}

.j-center {
  justify-self: safe center;
}

.a-center {
  align-self: safe center;
}

/* self-end */

.end {
  justify-self: end;
  align-self: flex-end;
}

.j-end {
  justify-self: end;
}

.a-end {
  align-self: flex-end;
}

/* self-stretch */

.stretch {
  justify-self: stretch;
  align-self: stretch;
}

.j-stretch {
  justify-self: stretch;
}

.a-stretch {
  align-self: stretch;
}

/*
ITEMS
*/

/* items-start */

.items-start {
  justify-items: start;
  align-items: flex-start;
}

.items-j-start {
  justify-items: start;
}

.items-a-start {
  align-items: flex-start;
}

/* items-center */

.items-center {
  justify-items: safe center;
  align-items: safe center;
}

.items-j-center {
  justify-items: safe center;
}

.items-a-center {
  align-items: safe center;
}

/* items-end */

.items-end {
  justify-items: end;
  align-items: flex-end;
}

.items-j-end {
  justify-items: end;
}

.items-a-end {
  align-items: flex-end;
}

/* items-stretch */

.items-stretch {
  justify-items: stretch;
  align-items: stretch;
}

.items-j-stretch {
  justify-items: stretch;
}

.items-a-stretch {
  align-items: stretch;
}

/*
CONTENT
*/

/* content-start */

.content-start {
  justify-content: start;
  align-content: flex-start;
}

.content-j-start {
  justify-content: start;
}

.content-a-start {
  align-content: flex-start;
}

/* content-center */

.content-center {
  justify-content: safe center;
  align-content: safe center;
}

.content-j-center {
  justify-content: safe center;
}

.content-a-center {
  align-content: safe center;
}

/* content-end */

.content-end {
  justify-content: end;
  align-content: flex-end;
}

.content-j-end {
  justify-content: end;
}

.content-a-end {
  align-content: flex-end;
}

/* content-stretch */

.content-stretch {
  justify-content: stretch;
  align-content: stretch;
}

.content-j-stretch {
  justify-content: stretch;
}

.content-a-stretch {
  align-content: stretch;
}

/* content-between */

.content-between {
  justify-content: space-between;
  align-content: space-between;
}

.content-j-between {
  justify-content: space-between;
}

.content-a-between {
  align-content: space-between;
}

/* content-around */

.content-around {
  justify-content: space-around;
  align-content: space-around;
}

.content-j-around {
  justify-content: space-around;
}

.content-a-around {
  align-content: space-around;
}

/* content-evenly */

.content-evenly {
  justify-content: space-evenly;
  align-content: space-evenly;
}

.content-j-evenly {
  justify-content: space-evenly;
}

.content-a-evenly {
  align-content: space-evenly;
}

/*
TEXT
*/

.text-center {
  text-align: center;
}

.text-start {
  text-align: start;
}

.text-end {
  text-align: end;
}

/*
MARGIN
*/

.mx-auto {
  margin-inline: auto;
}

.mr-auto {
  margin-right: auto;
}

.ml-auto {
  margin-left: auto;
}
