---
import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section class="content container">
    <h2 class="text-center">Legal Notice</h2>

    <h3>Software Engineer Rene Kaesler</h3>

    <p>
      Gebauerstrasse 15 <br />
      01189 Dresden <br />
      Germany
    </p>

    <p>
      <strong>Phone:</strong> +49 15223052116<br />
      <strong>Email:</strong> renekaesler@gmail.com<br />
      Germany
    </p>

    <p><strong>VAT-Nr:</strong> DE368821321</p>

    <h4>Responsible for the content according to ยง 55 Abs. 2 RStV:</h4>

    <p>Rene Kaesler</p>

    <h3>Complaints procedure</h3>

    <p>
      Online dispute resolution pursuant to Art. 14 para. 1 ODR-VO: The European
      Commission provides a platform for online dispute resolution (OS), which
      you can find at http://ec.europa.eu/consumers/odr.
    </p>

    <h3>Disclaimer for external links</h3>

    <p>
      No liability is assumed for the content of external links. The operators
      of the linked pages are solely responsible for their content. It is hereby
      expressly declared that no illegal content was recognizable on the linked
      pages at the time the links were created. There is no influence whatsoever
      on the current and future design, content or authorship of the linked
      pages.
    </p>
  </section>

  <Footer />
</Layout>

<style>
  h4 {
    font-size: larger;
  }
</style>
