<footer class="container">
  <div class="frame" x-hstack>
    <span>© 2025 Rene Kaesler</span>
    <a href="legal-notice">legal notice</a>
  </div>
</footer>

<style>
  .frame {
    box-sizing: content-box;
    min-height: 24px;
    padding: var(--space) 1em var(--space-xl);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    margin-top: 32px;

    gap: 8px 32px;
    flex-wrap: wrap-reverse;
    justify-content: space-between;

    font-size: smaller;
    white-space: nowrap;

    color: rgba(255, 255, 255, 0.3);
  }

  a {
    color: rgba(255, 255, 255, 0.3);
  }
</style>
